{% extends 'base.html' %} {% block content %}

<h1>The Homepage of Nowhere</h1>
<a href="#" class="btn btn-primary">New Post</a>

<br />
<br /> {% for post in posts.all %}

<table class="table-responsive">
    <tr>
        <td style="padding-right: 20px;">
            <a href="#" >
                <i class="fas fa-caret-up"></i>
            </a>
            <br/> {{ post.votes_total }}
            <br/>
            <a href="#">
                <i class="fas fa-caret-down"></i>
            </a>
        </td>
        <td>
            <a href="#">{{ post.title }}</a>
            <br /> post by <a href="{% url 'accounts:user' %}">{{post.author.username}}</a>
        </td>
    </tr>
</table>

<br /> {% endfor %} {% endblock %}